<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="biz.shadowservices.DegreesToolbox" android:versionCode="11" android:versionName="1.2">
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:label="@string/app_name" android:name="MainActivity"
        android:launchMode="singleTop"
        >
		<intent-filter>
  		  <action android:name="android.intent.action.MAIN" />
  		  <category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
        </activity>
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name="PhoneBalanceWidget" android:label="@string/widget_name_1x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/balance_widget_1x2" />
        </receiver>
        <receiver android:name="WidgetProvider2x2" android:label="@string/widget_name_2x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/balance_widget_2x2" />
        </receiver>
        <receiver android:name="UpdateReciever">
            <intent-filter>
                <action android:name="biz.shadowservices.DegreesToolbox.WIDGET_UPDATE" />
            </intent-filter>
        </receiver>


        <service android:name="biz.shadowservices.DegreesToolbox.UpdateWidgetService" />

    <activity android:name="BalancePreferencesActivity"></activity>
<activity android:name="biz.shadowservices.DegreesToolbox.SetupWizard"></activity>


</application>


<supports-screens
	android:smallScreens="true"
	android:normalScreens="true"
	android:largeScreens="true"
	android:anyDensity="true"
/>
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
</manifest> 